<div class="jumbotron">
    <h1>Account Management</h1>

     <form name="changePasswordForm" ng-submit="manage.changePassword()"> 
	 
 		<h3>Change Password</h3>
		
		
 			<label class="control-label" for="currentPassword">Current Password</label>
			<input type="password" ng-model="manage.currentPassword" id="currentPassword" required>
 			<br>
			<label class="control-label" for="newPassword">New Password</label>
			<input type="password" name="newPassword" ng-model="manage.newPassword" id="newPassword" ng-required="true">	
			<br>			
			<label class="control-label" for="newPasswordConfirm">Verify Password</label>
			<input type="password" name="newPasswordConfirm" ng-model="manage.newPasswordConfirm" id="newPasswordConfirm" ng-required="true" password-match="manage.newPassword">
			<div class="alert alert-danger" ng-show="changePasswordForm.newPasswordConfirm.$error.pwmatch">
				Passwords must match!
			</div>
			<br>
			<button type="submit" class="btn btn-default btn-primary" ng-disabled="changePasswordForm.$invalid">
                Change
            </button>
			<p class="bg-info fadein fadeout" style="display: inline-block;" ng-show="manage.showChangePasswordMessage">
				{{manage.changePasswordMessage}}
				
			</p>

	</form>
	<form name="resetPasswordForm" ng-submit="manage.resetPassword()"> 
	 
		<div class="form-group" ng-show="!manage.resetToken">
			<h3>Reset Password</h3>
			<p>Please enter the email of the account you wish to reset</p>
			
				<label class="control-label" for="email">Email</label>
				<input type="email" ng-model="manage.email" id="email" ng-required="!manage.resetToken">
				<br>
				<button type="submit" class="btn btn-default btn-primary" ng-disabled="resetPasswordForm.$invalid">
					Reset
				</button>
				<p class="bg-info fadein fadeout" style="display: inline-block;" ng-show="manage.showResetPasswordMessage">
					{{manage.resetPasswordMessage}}
				
				</p>
		</div>
		
		<div class="form-group" ng-show="manage.resetToken">
			<label class="control-label" for="resetNewPassword">New Password</label>
			<input type="password" name="resetNewPassword" ng-model="manage.resetNewPassword" id="resetNewPassword" ng-required="manage.resetToken">	
			<br>			
			<label class="control-label" for="resetNewPasswordConfirm">Verify Password</label>
			<input type="password" name="resetNewPasswordConfirm" ng-model="manage.resetNewPasswordConfirm" id="resetNewPasswordConfirm" ng-required="manage.resetToken" password-match="manage.resetNewPassword">
			<div class="alert alert-danger" ng-show="resetPasswordForm.resetNewPasswordConfirm.$error.pwmatch">
				Passwords must match!
			</div>
			<br>
			<button type="submit" class="btn btn-default btn-primary" ng-disabled="resetPasswordForm.$invalid">
                Reset
            </button>
			<p class="bg-info fadein fadeout" style="display: inline-block;" ng-show="manage.showResetPasswordMessage">
				{{manage.resetPasswordMessage}}
				
			</p>
		</div>
	</form>
	
	

	
	

</div>
