<div class="jumbotron">
    <h3>Account Management</h3>
	<br>
     <form name="changePasswordForm" ng-submit="manage.changePassword()" ng-show="main.loggedIn"> 
	 
 		<h4>Change Password</h4>
 			<label class="control-label" for="currentPassword">Current Password</label>
			<input type="password" ng-model="manage.currentPassword" id="currentPassword" required>
 			<br>
			<label class="control-label" for="newPassword">New Password</label>
			<input type="password" name="newPassword" ng-model="manage.newPassword" id="newPassword" ng-required="true">	
			<br>			
			<label class="control-label" for="newPasswordConfirm">Verify Password</label>
			<input type="password" name="newPasswordConfirm" ng-model="manage.newPasswordConfirm" id="newPasswordConfirm" ng-required="true" password-match="manage.newPassword">
			<div class="alert alert-danger" ng-show="changePasswordForm.newPasswordConfirm.$error.pwmatch">
				Passwords must match!
			</div>
			<br>
			<button type="submit" class="btn btn-default btn-primary" ng-disabled="changePasswordForm.$invalid">
                Change
            </button>
			<div class="alert alert-info fadein fadeout" style="padding: 8px;" ng-show="manage.showChangePasswordMessage">
				{{manage.changePasswordMessage}}
				
			</div>

	</form>
	<form name="resetPasswordForm" ng-submit="manage.resetPassword()"> 
	 
		<div class="form-group" ng-show="!manage.resetToken">
			<h4>Reset Password</h4>
			<h5>Please enter the email of the account you wish to reset</h5>
			
				<label class="control-label" for="email">Email</label>
				<input type="email" ng-model="manage.email" id="email" ng-required="!manage.resetToken">
				<br>
				<button type="submit" class="btn btn-primary" ng-disabled="resetPasswordForm.$invalid">
					Reset
				</button>
				<div class="alert alert-infofadein fadeout" style="padding: 8px;" ng-show="manage.showResetPasswordMessage">
					{{manage.resetPasswordMessage}}
				
				</div>
		</div>
		
		<div class="form-group" ng-show="manage.resetToken">
			<label class="control-label" for="resetNewPassword">New Password</label>
			<input type="password" name="resetNewPassword" ng-model="manage.resetNewPassword" id="resetNewPassword" ng-required="manage.resetToken">	
			<br>			
			<label class="control-label" for="resetNewPasswordConfirm">Verify Password</label>
			<input type="password" name="resetNewPasswordConfirm" ng-model="manage.resetNewPasswordConfirm" id="resetNewPasswordConfirm" ng-required="manage.resetToken" password-match="manage.resetNewPassword">
			<div class="alert alert-danger" ng-show="resetPasswordForm.resetNewPasswordConfirm.$error.pwmatch">
				Passwords must match!
			</div>
			<br>
			<button type="submit" class="btn  btn-primary" ng-disabled="resetPasswordForm.$invalid">
                Reset
            </button>
			<div class="alert alert-info fadein fadeout" style="padding: 8px;" ng-show="manage.showResetPasswordMessage">
				{{manage.resetPasswordMessage}}
				
			</div>
		</div>
	</form>
	
	

	
	

</div>
