<div class="row col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
        <h3>Register</h3>

        <form name="registerForm" ng-submit="register.registerUser(registerForm.$valid)" novalidate>

            <!-- USERNAME INPUT -->
            <div class="form-group" ng-class="{ 'has-error': registerForm.username.$touched && registerForm.username.$invalid }">
                <label>Username</label>
                <input type="text" name="username" class="form-control" ng-model="register.loginData.username" required>
                <div class="help-block" ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched">
                    <div ng-messages-include="partials/messages.html"></div>
                </div>
            </div>

            <!-- PASSWORD INPUT -->
            <div class="form-group" ng-class="{ 'has-error': registerForm.password.$touched && registerForm.password.$invalid }">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="register.loginData.password" required>
                <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
                    <div ng-messages-include="partials/messages.html"></div>
                </div>
            </div>

			<!-- EMAIL INPUT -->
            <div class="form-group" ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="register.loginData.email" required>
                <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
                    <div ng-messages-include="partials/messages.html"></div>
                </div>
            </div>

			<!-- FIRST NAME INPUT -->
            <div class="form-group" ng-class="{ 'has-error': registerForm.first_name.$touched && registerForm.first_name.$invalid }">
                <label>First name</label>
                <input type="text" name="first_name" class="form-control" ng-model="register.loginData.fname" required>
                <div class="help-block" ng-messages="registerForm.first_name.$error" ng-show="registerForm.first_name.$touched">
                    <div ng-messages-include="partials/messages.html"></div>
                </div>
            </div>

			<!-- LAST NAME INPUT -->
            <div class="form-group" ng-class="{ 'has-error': registerForm.last_name.$touched && registerForm.last_name.$invalid }">
                <label>Last name</label>
                <input type="text" name="last_name" class="form-control" ng-model="register.loginData.lname" required>
                <div class="help-block" ng-messages="registerForm.last_name.$error" ng-show="registerForm.last_name.$touched">
                    <div ng-messages-include="partials/messages.html"></div>
                </div>
            </div>

			<label>Is Admin?
				<input type="checkbox" ng-model="register.loginData.isAdmin" ng-click="isAdminCollapsed = !isAdminCollapsed">
			</label>
			<div class="form-group">
				<div uib-collapse="!isAdminCollapsed">
					<input type="text" class="form-control" ng-model="register.loginData.adminCode" placeholder="Admin Code">			
				</div>
			</div>
            <div class="alert alert-danger" ng-if="register.error">
                {{ register.error }}
            </div>

            <!-- SIGNUP BUTTON -->
            <button type="submit" class="btn btn-block btn-primary" ng-disabled="registerForm.$invalid">
                <span>Register</span>
            </button>

            <!-- Return to  Login -->
            <br/>
            <a ng-href="/signin">
                <span>Return To login</span>
            </a>

        </form>
    </div>
</div>