<div class="page-header">
    <h1 ng-show="user.observing">
		Animals - {{ user.id }}
		
	</h1>
	
	<h1 ng-show="!user.observing">
        <button class="btn" ng-click="user.goHome()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		Animals 
	</h1>
        <button type="button" class="btn btn-default" ng-click="addUserCollapsed = !addUserCollapsed">
            <span ng-class="{'glyphicon glyphicon-plus' : !addUserCollapsed, 'glyphicon glyphicon-minus' : addUserCollapsed}"></span>
            New Animal
        </button>
		<button  type="button" class="btn btn-default" ng-click="addSupervisorCollapsed = !addSupervisorCollapsed">
            <span ng-class="{'glyphicon glyphicon-plus' : !addSupervisorCollapsed, 'glyphicon glyphicon-minus' : addSupervisorCollapsed}"></span>
            Add Supervisor
        </button>
		<button type="button" class="btn btn-default" ng-click="removeSupervisorCollapsed = !removeSupervisorCollapsed">
            <span ng-class="{'glyphicon glyphicon-plus' : !removeSupervisorCollapsed, 'glyphicon glyphicon-minus' : removeSupervisorCollapsed}"></span>			
            Remove Supervisor
        </button>
    
    <div uib-collapse="!addUserCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.add_id" placeholder="ID">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addName" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addType" placeholder="Type">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addBreed" placeholder="Breed">
                </div>
                <button class="btn btn-default" type="button" ng-click="user.addAnimal();">
                    Add
					
                </button>
				<div class="form-group fadein fadeout"  ng-show="user.showAnimalMessage">
					{{user.addAnimalMessage}}
				
				</div>
				
            </div>
        </form>
    </div>
	<div uib-collapse="!addSupervisorCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addSupervisorID" placeholder="ID">
                </div>
                <button class="btn btn-default" type="button" ng-click="user.addSupervisor()">
                    Add
                </button>
				<div class="form-group fadein fadeout"  ng-show="user.showSupervisorMessage">
					{{user.addSupervisorMessage}}
				
				</div>
            </div>
        </form>
    </div>
	<div uib-collapse="!removeSupervisorCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">
				<div class="form-group fadein fadeout"  ng-show="user.showRemoveSupervisorMessage">
					{{user.removeSupervisorMessage}}
				
				</div>

						<div ng-repeat="super in user.supervisors">
							<div class="form-group">{{super.username}}</div>
								<button class="btn btn-default" type="button" ng-click="user.removeSupervisor(super.username)">
									Remove
								</button>
								
						</div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="user.processing"><span class="glyphicon glyphicon-repeat spinner"></span>

    <p>Loading Animals...</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" ng-model="user.searchAnimals" placeholder="Search Animals">
        </div>
    </div>
</form>
<table class="table table-hover table-bordered table-striped" ng-show="user.animals">
    <thead>
    <tr>
        <th>
            <a href="#" ng-click="user.sortType = '_id'; user.sortReverse = !user.sortReverse">
                ID
                <span ng-show="user.sortType == '_id' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == '_id' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="user.sortType = 'name'; user.sortReverse = !user.sortReverse">
                Name
                <span ng-show="user.sortType == 'name' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'name' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>

        <th>
            <a href="#" ng-click="user.sortType = 'breed'; user.sortReverse = !user.sortReverse">
                Breed
                <span ng-show="user.sortType == 'breed' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'breed' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- LOOP OVER THE USERS -->
    <tr ng-repeat="animal in user.animals | orderBy:user.sortType:user.sortReverse | filter:user.searchAnimals" ng-click="user.openAnimalPage(animal)">
        <td>{{ animal._id | capitalize}}</td>
        <td>{{ animal.name | capitalize}}</td>
        <td>{{ animal.breed | capitalize}}</td>
    </tr>
    </tbody>
</table>