<div class="page-header">
	
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li ng-show="user.observing"><a href="/observeDashboard">Observing</a></li>
		<li ng-show="!user.observing" class="active">Animals</li>
		<li ng-show="user.observing" class="active">{{ user.id }}</li>
	</ol> 
	
	<h3 ng-show="user.observing">
<!-- 		<button class="btn btn-link" ng-click="user.goObserving()">
			<span class="glyphicon glyphicon-menu-left"></span>
		</button> -->
		{{ user.id | capitalize:true}}
		
	</h3>
	
<!-- 	<h3 ng-show="!user.observing">
        <button class="btn btn-link" ng-click="user.goHome()">
			<span class="glyphicon glyphicon-menu-left"></span>
		</button>
		Animals 
	</h3> -->
	<div class="form-group btn-group-vertical"  style="width: 100%" ng-show="!user.observing">
        <button type="button" style="display: block; text-align: left" class="btn btn-primary" ng-click="addUserCollapsed = !addUserCollapsed">
            <span ng-class="{'glyphicon glyphicon-plus' : !addUserCollapsed, 'glyphicon glyphicon-minus' : addUserCollapsed}"></span>
            New Animal
        </button>
		<div uib-collapse="!addUserCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="user.add_id" placeholder="ID">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="user.addName" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="user.addType" placeholder="Type">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="user.addBreed" placeholder="Breed">
						</div>
						<button class="btn btn-default" type="button" ng-click="user.addAnimal();">
							<span class="glyphicon glyphicon-plus-sign"></span>
								Add
								
						</button>
						<div class="alert alert-info form-group fadein fadeout" ng-class="user.addAnimalMessage.alertType" ng-show="user.addAnimalMessage.show">
							{{user.addAnimalMessage.message}}
							
						</div>
					</div>
				</div>
			</form>
		</div>
		<button  type="button" style="display: block; text-align: left" class="btn btn-default" ng-click="addSupervisorCollapsed = !addSupervisorCollapsed">
            <span ng-class="{'glyphicon glyphicon-plus' : !addSupervisorCollapsed, 'glyphicon glyphicon-minus' : addSupervisorCollapsed}"></span>
            Add Supervisor
        </button>
		<div uib-collapse="!addSupervisorCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
	
						<div class="form-group">
							<input type="text" class="form-control" ng-model="user.addSupervisorID" placeholder="ID">
						</div>
						<button class="btn btn-default" type="button" ng-click="user.addSupervisor()">
							<span class="glyphicon glyphicon-plus-sign"></span>
							Add
						</button>
						<div class="alert alert-info form-group fadein fadeout" ng-class="user.addSupervisorMessage.alertType" ng-show="user.addSupervisorMessage.show">
							{{user.addSupervisorMessage.message}}
						
						</div>
					</div>
				</div>
			</form>
		</div>
		<button type="button" style="display: block; text-align: left" class="btn btn-default" ng-click="removeSupervisorCollapsed = !removeSupervisorCollapsed">
            <span ng-class="{'glyphicon glyphicon-plus' : !removeSupervisorCollapsed, 'glyphicon glyphicon-minus' : removeSupervisorCollapsed}"></span>			
            Remove Supervisor
        </button>
		<div uib-collapse="!removeSupervisorCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
						<div class="alert alert-info form-group fadein fadeout" ng-class="user.removeSupervisorMessage.alertType" ng-show="user.removeSupervisorMessage.show">
							{{user.removeSupervisorMessage.message}}
						
						</div>
						<div class="alert alert-info form-group" ng-show="user.supervisors.length == 0">
							You have no supervisors
						</div>
						<div ng-repeat="super in user.supervisors">
							<p style="display: inline-block">{{super.username}}</p>
								<button class="btn btn-default btn-xs" type="button" ng-click-confirm="user.removeSupervisor(super.username)" ng-confirm="Are you sure you want to remove this supervisor?">
									<span class="glyphicon glyphicon-minus-sign"></span>
									Remove
								</button>
								
						</div>
					</div>
				</div>
			</form>    
		</div>
    </div>





</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="user.processing"><span class="glyphicon glyphicon-repeat spinner"></span>

    <p>Loading Animals...</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" ng-model="user.searchAnimals" placeholder="Search Animals">
        </div>
    </div>
</form>
<table class="table table-hover table-bordered table-striped" style="cursor: pointer" ng-show="user.animals">
    <thead>
    <tr>
        <th>
            <a href="#" ng-click="user.sortType = '_id'; user.sortReverse = !user.sortReverse">
                ID
                <span ng-show="user.sortType == '_id' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == '_id' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="user.sortType = 'name'; user.sortReverse = !user.sortReverse">
                Name
                <span ng-show="user.sortType == 'name' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'name' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
		<th>
            <a href="#" ng-click="user.sortType = 'type'; user.sortReverse = !user.sortReverse">
                Type
                <span ng-show="user.sortType == 'type' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'type' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="user.sortType = 'breed'; user.sortReverse = !user.sortReverse">
                Breed
                <span ng-show="user.sortType == 'breed' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'breed' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- LOOP OVER THE ANIMALS -->
    <tr ng-repeat="animal in user.animals | orderBy:user.sortType:user.sortReverse | filter:user.searchAnimals" ng-click="user.openAnimalPage(animal)">
        <td>{{ animal._id}}</td>
        <td>{{ animal.name | capitalize}}</td>
		<td>{{ animal.type | capitalize}}
        <td>{{ animal.breed | capitalize}}</td>
    </tr>
    </tbody>
</table>