<div class="page-header">
    <h1>
        Animals
        <button type="button" class="btn btn-default" ng-click="addUserCollapsed = !addUserCollapsed">
            <span class="glyphicon glyphicon-plus"></span>
            New Animal
        </button>
    </h1>
    <div uib-collapse="!addUserCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.add_id" placeholder="ID">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addName" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addType" placeholder="Type">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.addBreed" placeholder="Breed">
                </div>
                    <button class="btn btn-default" type="button" ng-click="user.addAnimal();addUserCollapsed = !addUserCollapsed">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
            </div>
        </form>
    </div>
</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="user.processing"><span class="glyphicon glyphicon-repeat spinner"></span>

    <p>Loading Animals...</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" ng-model="user.searchAnimals" placeholder="Search Animals">
        </div>
    </div>
</form>
<table class="table table-bordered table-striped" ng-show="user.animals">
    <thead>
    <tr>
        <th>
            <a href="#" ng-click="user.sortType = '_id'; user.sortReverse = !user.sortReverse">
                ID
                <span ng-show="user.sortType == '_id' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == '_id' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="user.sortType = 'name'; user.sortReverse = !user.sortReverse">
                Name
                <span ng-show="user.sortType == 'name' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'name' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <!--<th>-->
            <!--<a href="#" ng-click="user.sortType = 'username'; user.sortReverse = !user.sortReverse">-->
                <!--username-->
                <!--<span ng-show="user.sortType == 'username' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>-->
                <!--<span ng-show="user.sortType == 'username' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>-->
            <!--</a>-->
        <!--</th>-->
        <th>
            <a href="#" ng-click="user.sortType = 'breed'; user.sortReverse = !user.sortReverse">
                Breed
                <span ng-show="user.sortType == 'breed' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="user.sortType == 'breed' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <!-- <th class="col-sm-2"></th> -->
    </tr>
    </thead>
    <tbody>
    <!-- LOOP OVER THE USERS -->
    <tr ng-repeat="animal in user.animals | orderBy:user.sortType:user.sortReverse | filter:user.searchAnimals">
        <td>{{ animal._id }}</td>
        <td>{{ animal.name }}</td>
        <td>{{ animal.breed}}</td>
        <td class="col-sm-2">
            <a ng-href="/animal/{{ animal._id }}" class="btn btn-danger">Weights</a>
        </td>
		<td class="col-sm-2">
			<button class="btn btn-default" type="button" ng-click="user.removeFromUser( animal._id )">Remove</button>
		</td>
    </tr>
    </tbody>
</table>