<!DOCTYPE html>
<html>
<script src="/javascripts/client.js"></script>
<body>

<form id="animal_info" action="http://localhost:8080/api/addanimal" method="post">
  ID:<br>
  <input name="id" value="someid">
  <br>
  Managed By:<br>
  <input name="managedBy" value="samuel">
  <br>
  Animal Name:<br>
  <input name="name" value="bessie">
  <br>
  Type of Animal:<br>
  <input name="type" value="cow">
  <br>
  Breed:<br>
  <input name="breed" value="angus">
  <br>
  Date:<br>
  <input name="date" value="1052015">
  <br>
  Latest Weight:<br>
  <input name="latestWeight" value="500">
  <br>
  <input type="hidden" name="token" value="">
  <input type="submit" value="Add Animal to Database">
</form>
<script>
var token = window.localStorage.getItem('token');

if(token) {
	console.log(token);
	document.forms['animal_info'].elements["token"].value = token;
	
}



</script>


</body>
</html>
