<!DOCTYPE html>
<html>
<script src="/javascripts/client.js"></script>
<body>
<div id="successDiv">
</div>
  ID:<br>
  <input id="id" autocapitalize="off" value="someid">
  <br>
  Managed By:<br>
  <input id="managedBy" autocapitalize="off" value="samuel">
  <br>
  Animal Name:<br>
  <input id="name" value="bessie">
  <br>
  Type of Animal:<br>
  <input id="type" value="cow">
  <br>
  Breed:<br>
  <input id="breed" value="angus">
  <br>

<button type="button" onclick="addanimal()">Add Animal to Database</button>



</body>
</html>
