<!DOCTYPE html>
<html>
<script src="/javascripts/client.js"></script>
<body>
<div id="successDiv">
</div>
<!-- <form id="animal_info" action="http://localhost:8080/api/addanimal" method="post"> -->
  ID:<br>
  <input id="id" value="someid">
  <br>
  Managed By:<br>
  <input id="managedBy" value="samuel">
  <br>
  Animal Name:<br>
  <input id="name" value="bessie">
  <br>
  Type of Animal:<br>
  <input id="type" value="cow">
  <br>
  Breed:<br>
  <input id="breed" value="angus">
  <br>
  Date:<br>
  <input id="date" value="1052015">
  <br>
  Latest Weight:<br>
  <input id="latestWeight" value="500">
  <br>
<!--   <input type="hidden" id="token" value=""> -->
<!--   <input type="submit" value="Add Animal to Database"> -->
<!-- </form> -->
<button type="button" onclick="addanimal()">Add Animal to Database</button>
<!-- <script>
 var token = window.localStorage.getItem('token');

if(token) {
	//console.log(token);
	document.getElementById("token").value = token;
	
}



</script>  -->


</body>
</html>
