<html>
<head>
    <title>Steer Clear</title>
    <script src="/javascripts/homepage.js"></script>
	<script src="/javascripts/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
        
        checkToken(function() {
			var id = window.sessionStorage.getItem("animalID");
			console.log(id);
			if(!id) {
				alert("No ID found, did you select an animal?");
				window.location.replace("http://" + window.location.host + "/index");
			}		
		
		});


    </script>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SteerClear</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/animalpage">About</a>
                </li>
                <li>
                    <a href="/sitemap">Sitemap</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <h1 id="greeting"></h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        <div class="panel panel-default">
            <table class="table table-hover" id="animal-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Weight</th>
                </tr>
                </thead>
                <tbody>
				<tr>
					<td><input id="id" type="text" style="width:100%"/></td>
					<td><input id="date" type="text" style="width:100%"/></td>
					<td><input id="weight" type="text" style="width:100%"/></td>
				</tr>
                </tbody>
            </table>
            <button type="button" onClick="logout()">Logout</button>
			<button type="button" id="addWeightBtn" class="btn btn-default" onClick="addweight()">Add Weight</button>
			
        </div>
    </div>
</div>
<script>
	
	if(id) {
		console.log("id: " + id);
		document.getElementById("date").value = getCurrentDate();
		document.getElementById("id").value = id;
		getAnimal(id);
		$(document).on("click", ".clickable-row", function() {
			var id = $(this).attr("id");
			//getAnimal(id);
		});	
	
	}
	//var id = window.sessionStorage.getItem("animalID");




</script>
</body>
</html>