<html>
<head>
    <title>Steer Clear</title>
    <script src="/javascripts/homepage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
        var http = new XMLHttpRequest();
        var token = window.localStorage.getItem('token');
        if(token) {
           http.open("GET", window.document.location + 'checktoken', false);
           http.send("token=", token);
           http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200) {
                    var json = http.responseText;
                    console.log(json);
                    if(json.success === false) {
                        window.location.assign(window.document.host + '/signin');
                    }
                }
            }


        } else {
            console.log("http://" + window.location.host + '/signin');
            window.location.assign("http://" + window.location.host + '/signin');



        }
        

        


        


        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SteerClear</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/animalpage">About</a>
                </li>
                <li>
                    <a href="/sitemap">Sitemap</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <h1 id="greeting"></h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        <div class="panel panel-default">
            <table class="table table-hover" id="animal-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Weight</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button type="button" onClick="logout()">Logout</button>
            <button type="button" class="btn btn-default" onClick="addAnimal()">Add Animal</button>

        </div>
    </div>
</div>
<script>
    greeting();
    getAnimals();
    function addAnimal(){
        window.location.assign("http://localhost:8080/addanimal");
    }
    function logout() {
        window.localStorage.removeItem('token');
        window.location.assign(window.document.location);
    }
</script>
</body>
</html>