<html lang="en">
<head>
    <title>Steer Clear</title>
    <script src="/javascripts/homepage.js"></script>
	<script src="/javascripts/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
        
        checkToken();


    </script>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SteerClear</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/animalpage">About</a>
                </li>
                <li>
                    <a href="/sitemap">Sitemap</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <button type="button" class="btn btn-default" onClick="logout()">Logout</button>
		<h1 id="greeting"></h1>
        <div class="panel panel-default">
            <table class="table table-hover" id="animal-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
					<th>Breed</th>
                </tr>
                </thead>
                <tbody>
				<tr>
				<td><input id="id" type="text" style="width:100%"/></td>
				<td><input id="name" type="text" style="width:100%"/></td>
				<td>
					<select id="typeSelect" style="width:100%;height:100%;">
						<option selected disabled>Choose Type</option>
					</select>
				</td>
				<td>
					<select id="breedSelect" style="width:100%;height:100%;" disabled="true">						
					</select>				
				</td>
				</tr>
                </tbody>
            </table>
            
            <button type="button" id="addAnimalBtn" class="btn btn-default" onClick="addanimal()">Add Animal</button>

			
        </div>
    </div>
</div>
<script>

    getTypes();
    getAnimals();
	$(document).on("click", ".clickable-row", function() {
		var id = $(this).attr("id");
		window.sessionStorage.setItem("animalID", id);
		window.location.assign("http://" + window.location.host + "/animal");
	});
	
	$(document).on("change", "#typeSelect", function() {
		console.log($("#typeSelect option:selected").text());
		var type = this.value;
		var types = JSON.parse(window.sessionStorage.getItem("types"));
		$("#breedSelect").empty();
		for(var i = 0; i < types[type].length; i++) {
			$("#breedSelect").append($("<option id='breed'></option>").text(types[type][i].breed));
		}
		$("#breedSelect").attr("disabled", false);
	});

</script>
</body>
</html>