<html>
<head>
    <title>Steer Clear</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">SteerClear</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/animalpage">About</a>
                </li>
                <li>
                    <a href="/sitemap">Sitemap</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <h1>Hello, [name]</h1>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                </tr>
                </thead>
                <tbody>
                <tr class='clickable-row' data-href='/animalpage'>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>