<!DOCTYPE html>
<html>
<script src="/javascripts/client.js"></script>

<body>

<div id="successDiv">
</div>


  Username:<br>
  <input name="username" id="username">
  <br>
  Email:<br>
  <input name="email" id="email">
  <br> 
  First Name:<br>
  <input name="first_name" id="first_name">
  <br>
  Last Name:<br>
  <input name="last_name" id="last_name">
  <br>
  Password:<br>
  <input type="password" name="password" id="password">
  <br>

<button type="button" onclick="register()">Register</button>



</body>
</html>
