<!DOCTYPE html>
<html>
<script src="/javascripts/client.js"></script>
<script src="/javascripts/queryurl.js"></script>
<body>

<div id="successDiv">
</div>

<form name="register" method="post">
  Username:<br>
  <input name="username" id="username">
  <br>
  Password:<br>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="Register">
</form>
<script>
document.register.action = "http://" + window.location.host + "/register";
console.log(document.register.action);
var success = <%- JSON.stringify(success) %>;
//console.log(success);
if(success == 'true') {
	document.getElementById("successDiv").textContent = "Successfully Registered";
}
</script>


</body>
</html>
