<!DOCTYPE html>
<html>
<script src="/javascripts/client.js"></script>
<body>



  Username:<br>
  <input name="username" id="username">
  <br>
  <br>
  Password:<br>
  <input type="password" name="password" id="password">
  <br>
  <button type="button" onclick='login()'>Log In</button>

<br><br>
<form name="register">
	<input type="submit" value="Register">
</form>

<script>
document.register.action = "http://" + window.location.host + '/register';
console.log(document.register.action);
</script>


</body>
</html>
