<div class="page-header">
    <h1>
        Youth

		
    </h1>
	<div class="form-group">
		<div uib-collapse="!addUserCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group">
	
					<div class="form-group">
						<input type="text" class="form-control" ng-model="observe.addUsername" placeholder="Username">
					</div>
	
					<button class="btn btn-default" type="button" ng-click="observe.addYouth();addUserCollapsed = !addUserCollapsed">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	
</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="observe.processing"><span class="glyphicon glyphicon-repeat spinner"></span>

    <p>Loading Youth...</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" ng-model="observe.searchYouth" placeholder="Search Youth">
        </div>
    </div>
</form>
<table class="table table-bordered table-striped" ng-show="observe.youths">
    <thead>
    <tr>
        <th>
            <a href="#" ng-click="observe.sortType = '_id'; observe.sortReverse = !observe.sortReverse">
                Username
                <span ng-show="observe.sortType == '_id' && !observe.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="observe.sortType == '_id' && observe.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="observe.sortType = 'fname'; observe.sortReverse = !observe.sortReverse">
                First Name
                <span ng-show="observe.sortType == 'fname' && !observe.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="observe.sortType == 'fname' && observe.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
		<th>
            <a href="#" ng-click="observe.sortType = 'lname'; observe.sortReverse = !observe.sortReverse">
                Last Name
                <span ng-show="observe.sortType == 'lname' && !observe.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="observe.sortType == 'lname' && observe.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
		<th>
            <a href="#" ng-click="observe.sortType = 'email'; observe.sortReverse = !observe.sortReverse">
                Email
                <span ng-show="observe.sortType == 'email' && !observe.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="observe.sortType == 'email' && observe.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <!--<th>-->
            <!--<a href="#" ng-click="observe.sortType = 'observename'; observe.sortReverse = !observe.sortReverse">-->
                <!--observename-->
                <!--<span ng-show="observe.sortType == 'observename' && !observe.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>-->
                <!--<span ng-show="observe.sortType == 'observename' && observe.sortReverse" class="glyphicon glyphicon-triangle-top"></span>-->
            <!--</a>-->
        <!--</th>-->
        <!-- <th class="col-sm-2"></th> -->
    </tr>
    </thead>
    <tbody>
    <!-- LOOP OVER THE observeS -->
    <tr ng-repeat="youth in observe.youths | orderBy:observe.sortType:observe.sortReverse | filter:observe.searchYouth">
        <td>{{ youth._id }}</td>
        <td>{{ youth.first_name }}</td>
        <td>{{ youth.last_name}}</td>
		<td>{{ youth.email}}</td>
        <td class="col-sm-2">
            <a ng-href="/dashboard/{{ youth._id }}" class="btn btn-danger">View</a>
        </td>
		<td class="col-sm-2">
			<button class="btn btn-default" type="button" ng-click-confirm="observe.stopObserving( youth._id )" ng-confirm="Are you sure you want to stop observing {{youth._id}}?">Stop Observing</button>
		</td>
    </tr>
    </tbody>
</table>