<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<ol class="breadcrumb">
			<li class="active">Home</li>
		</ol> 
	
	
	
		<div ng-if="!main.loggedIn">
			<a href="/signin" class="btn btn-primary">Login</a>
			<a href="/register" class="btn btn-primary">Register</a>
		</div>
		<div ng-if="main.loggedIn" class="form-group">
			<a href="/dashboard" class="btn btn-primary">
			<span class="glyphicon glyphicon-th-list"></span>
			Animals</a>
		</div>
		<div ng-if="main.loggedIn" class="form-group">
			<a href="/observeDashboard" class="btn btn-primary">
			<span class="glyphicon glyphicon-eye-open"></span>
			Observing</a>
		</div>
		<div class="form-group">
			<a class="btn btn-primary" href="/manage">
				<span class="glyphicon glyphicon-user"></span>
				Account Management
			</a>
		</div>
		
		<div ng-show="main.checkAdmin()">
			<p><strong>Admin Tools</strong></p>		
		</div>
		
		<div ng-show="main.checkAdmin()">
			<button type="button" class="btn btn-default" ng-click="addTypeCollapsed = !addTypeCollapsed; home.selectAddType=''; home.selectAddBreed='';home.existingBreeds=[]">
					<span ng-class="{'glyphicon glyphicon-plus' : !addTypeCollapsed, 'glyphicon glyphicon-minus' : addTypeCollapsed}"></span>
					Add Species
			</button>
			
		</div>
		
		
		<div class="form-group">
			<div uib-collapse="!addTypeCollapsed">
				
				<div class="form-group panel panel-default">
					<div class="panel-body">	
						<div class="form-group" >
			
						
							<select class="form-control" name="typeSelect" ng-model="home.selectAddType" ng-focus="disableTypeText=true" ng-blur="disableTypeText=false" ng-disabled="disableTypeSelect" ng-change="home.getBreedOptions(home.selectAddType)">
								<option value="" disabled>Select Existing Type</option>
								<option ng-repeat="(type, value) in home.existingTypes" value = "{{type}}">{{type}}</option>
								
							</select>
							<h6>or</h6>
							<input type="text" class="form-control" ng-model="home.textType" ng-focus="disableTypeSelect=true" ng-blur="disableTypeSelect=false" ng-disabled="disableTypeText" placeholder="Add New Type">
						
						</div>
						<br>
						<div class="form-group" ng-cloak>	
							<select class="form-control" name="typeSelect" ng-model="home.selectAddBreed" ng-focus="disableBreedText=true" ng-blur="disableBreedText=false" ng-disabled="disableBreedSelect" >
								<option value="" disabled>Select Existing Breed</option>
								<option ng-repeat="breed in home.existingBreeds" value = "{{breed.breed}}">{{breed.breed}}</option>
									
							</select>
							<h6>or</h6>
							
							<input type="text" class="form-control" ng-model="home.textBreed" ng-focus="disableBreedSelect=true" ng-blur="disableBreedSelect=false" ng-disabled="disableBreedText" placeholder="Add New Breed">
							<button class="btn btn-default" type="button" ng-click="home.addType()">
								<span class="glyphicon glyphicon-plus-sign"></span>
								Add
							</button>
							<div class="form-group alert-info fadein fadeout"  ng-show="home.addTypeMessage.show">
								{{home.addTypeMessage.message}}
						
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
 		<div ng-show="main.checkAdmin()">
			<button type="button" class="btn btn-default" ng-click="removeTypeCollapsed = !removeTypeCollapsed; home.selectRemoveBreed=''; home.selectRemoveType=''; home.existingBreeds=[]">
					<span ng-class="{'glyphicon glyphicon-plus' : !removeTypeCollapsed, 'glyphicon glyphicon-minus' : removeTypeCollapsed}"></span>
					Remove Species
			</button>
			
		</div>	
		<div class="form-group">
			<div uib-collapse="!removeTypeCollapsed">
				<div class="form-group panel panel-default">
					<div class="panel-body">	
						<div class="form-group">
			
						
							<select class="form-control" name="typeSelect" ng-model="home.selectRemoveType" ng-focus="disableTypeText=true" ng-blur="disableTypeText=false" ng-disabled="disableTypeSelect" ng-change="home.getBreedOptions(home.selectRemoveType)">
								<option value="" disabled>Select Existing Type</option>
								<option ng-repeat="(type, value) in home.existingTypes" value = "{{type}}">{{type}}</option>
								
							</select>		
						</div>
						<div class="form-group" ng-cloak>	
							<select class="form-control" name="typeSelect" ng-model="home.selectRemoveBreed" ng-focus="disableBreedText=true" ng-blur="disableBreedText=false" ng-disabled="disableBreedSelect" >
								<option value="" disabled>Select Existing Breed</option>
								<option ng-repeat="breed in home.existingBreeds" value = "{{breed.breed}}">{{breed.breed}}</option>
									
							</select>
							<button class="btn btn-default" type="button" ng-click="home.removeType(home.selectRemoveType, home.selectRemoveBreed)">
								<span class="glyphicon glyphicon-minus-sign"></span>
								Remove
							</button>
							<div class="form-group alert-info fadein fadeout"  ng-show="home.removeTypeMessage.show">
								{{home.removeTypeMessage.message}}
						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>