<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<ol class="breadcrumb">
			<li class="active">Home</li>
		</ol> 
	
	
	
		<div ng-if="!main.loggedIn">
			<a href="/signin" class="btn btn-primary">Login</a>
			<a href="/register" class="btn btn-primary">Register</a>
		</div>
		<div ng-if="main.loggedIn" class="form-group">
			<a href="/dashboard" class="btn btn-primary">
			<span class="glyphicon glyphicon-th-list"></span>
			Animals</a>
		</div>
		<div ng-if="main.loggedIn" class="form-group">
			<a href="/observeDashboard" class="btn btn-primary">
			<span class="glyphicon glyphicon-eye-open"></span>
			Observing</a>
		</div>
		<div class="form-group">
			<a class="btn btn-primary" href="/manage">
				<span class="glyphicon glyphicon-user"></span>
				Account Management
			</a>
		</div>
		<div ng-show="main.checkAdmin()">
			<button type="button" class="btn btn-default" ng-click="addTypeCollapsed = !addTypeCollapsed">
					<span ng-class="{'glyphicon glyphicon-plus' : !addTypeCollapsed, 'glyphicon glyphicon-minus' : addTypeCollapsed}"></span>
					Add Type/Breed
			</button>
			
		</div>
		
		
		<div class="form-group">
			<div uib-collapse="!addTypeCollapsed">
	
					<div class="form-group" >
		
					
							<select class="form-control" name="typeSelect" ng-model="home.selectTypes" ng-focus="disableTypeText=true" ng-blur="disableTypeText=false" ng-disabled="disableTypeSelect" ng-change="home.getBreedOptions()">
								<option value="">Select Existing Type</option>
								<option ng-repeat="(type, value) in home.existingTypes" value = "{{type}}">{{type}}</option>
								
							</select>
							<input type="text" class="form-control" ng-model="home.textType" ng-focus="disableTypeSelect=true" ng-blur="disableTypeSelect=false" ng-disabled="disableTypeText" placeholder="Add New Type">
					
					</div>
					<br>
					<div class="form-group" ng-cloak>	
						<select class="form-control" name="typeSelect" ng-model="home.selectBreed" ng-focus="disableBreedText=true" ng-blur="disableBreedText=false" ng-disabled="disableBreedSelect" >
								<option value="">Select Existing Breed</option>
								<option ng-repeat="breed in home.existingBreeds" value = "{{breed.breed}}">{{breed.breed}}</option>
								
							</select>
						
						
							<input type="text" class="form-control" ng-model="home.textBreed" ng-focus="disableBreedSelect=true" ng-blur="disableBreedSelect=false" ng-disabled="disableBreedText" placeholder="Add New Breed">
						
						
		
						<button class="btn btn-default" type="button" ng-click="home.addType()">
							Add
						</button>
						<div class="form-group fadein fadeout"  ng-show="home.showTypeMessage">
							{{home.addTypeMessage}}
					
						</div>
					</div>
	
			</div>
		</div>
	
	</div>
</div>