<style>
    .selected {
        background-color:transparent;
        border-style: outset;
        box-shadow: 0 0 30px black;
        color:black;
        font-weight:bold;
    }
</style>
<script src="/javascripts/client.js"></script>
<div class="page-header">
    <h1>
        {{ animal.animalID }} 
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{animal.data}}</h3>
            </div>
        </div>
        <button type="button" class="btn btn-default" ng-click="addUserCollapsed = !addUserCollapsed">
            <span class="glyphicon glyphicon-plus"></span>
            Add new weight
        </button>
        <button type="button" class="btn btn-default" ng-click="targetDateCollapsed = !targetDateCollapsed">
            <span class="glyphicon glyphicon-stats"></span>
            Target Date Estimation
        </button>
        <button type="button" class="btn btn-default" ng-click="animal.calculateADG()">
            <span class="glyphicon glyphicon-stats"></span>
            Calculate Average Daily Gains
        </button>
		
    </h1>
	
    <div uib-collapse="!addUserCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="animal.weight" placeholder="Weight (lbs)">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" ng-model="animal.date" placeholder="Date">
                    <!--<button type="button" ng-click="animal.getCurrentDate()">Today</button>-->
                </div>
                <button class="btn btn-default" type="button" ng-click="animal.addWeight()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>



            </div>
        </form>
    </div>
    <div uib-collapse="!targetDateCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="form-group">
                    <input type="date" class="form-control" ng-model="animal.targetDate" placeholder="Target Date">
                </div>
                <button type="button" class="btn btn-default" ng-click="animal.targetDateCalculator()">Calculate</button>

            </div>


        </form>
    </div>
    <div uib-collapse="!rangeDateCollapsed">
        <form class="form-inline" role="form">
            <div class="form-group">

                <div class="form-group">
                    <input type="date" class="form-control" ng-model="animal.start_date" placeholder="Start Date">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" ng-model="animal.end_date" placeholder="End Date">
                    <!--<button type="button" ng-click="animal.getCurrentDate()">Today</button>-->
                </div>
                <button class="btn btn-default" type="button" ng-click="animal.averageGainInRange()">
                    Calculate
                </button>

                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" ng-model="user.addUsername" placeholder="username">-->
                <!--</div>-->

            </div>
        </form>
    </div>
	<button ng-click-confirm="animal.removeFromUser()" ng-confirm="Are you sure you want to remove {{animal.animalID}}?">Remove</button>
</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="user.processing"><span class="glyphicon glyphicon-repeat spinner"></span>

    <p>Loading Weights...</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" ng-model="animal.searchAnimals" placeholder="Search Animals">
        </div>
    </div>
</form>
<table class="table table-hover table-bordered table-striped" ng-show="animal.animals">
    <thead>
    <tr>
        <th>
			<a href="#">
            <!-- <a href="#" ng-click="animal.sortType = '_id'; animal.sortReverse = !animal.sortReverse"> -->
                ID
                <!-- <span ng-show="animal.sortType == '_id' && !animal.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="animal.sortType == '_id' && animal.sortReverse" class="glyphicon glyphicon-triangle-top"></span> -->
            </a>
        </th>
        <th>
            <a href="#" ng-click="animal.sortType = 'date'; animal.sortReverse = !animal.sortReverse">
                Date
                <span ng-show="animal.sortType == 'date' && !animal.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="animal.sortType == 'date' && animal.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <!--<th>-->
        <!--<a href="#" ng-click="user.sortType = 'username'; user.sortReverse = !user.sortReverse">-->
        <!--username-->
        <!--<span ng-show="user.sortType == 'username' && !user.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>-->
        <!--<span ng-show="user.sortType == 'username' && user.sortReverse" class="glyphicon glyphicon-triangle-top"></span>-->
        <!--</a>-->
        <!--</th>-->
        <th>
            <a href="#" ng-click="animal.sortType = 'breed'; animal.sortReverse = !animal.sortReverse">
                Weight
                <span ng-show="animal.sortType == 'breed' && !animal.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="animal.sortType == 'breed' && animal.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <!-- <th class="col-sm-2"></th> -->
    </tr>
    </thead>
    <tbody>
    <!-- LOOP OVER THE USERS -->
    <tr ng-repeat="a in animal.animals | orderBy:animal.sortType:animal.sortReverse | filter:animal.searchAnimals" ng-class="animal.highlight(a.date, animal)" ng-click="animal.selectDates(a.date)">
        <td>{{ a.id }}</td>
        <td>{{ a.date | myDate }}</td>
        <td>{{ a.weight}}</td>
        <!-- <td class="col-sm-2">
            <a ng-href="/animal" class="btn btn-danger">Edit</a>
        </td> -->

    </tr>
    </tbody>
</table>