<style>
    .selected {
        background-color:transparent;
        border-style: outset;
        box-shadow: 0 0 30px black;
        color:black;
        font-weight:bold;
    }
</style>
<script src="/javascripts/client.js"></script>
<div class="page-header">
    <h3>
		<button class="btn btn-link" ng-click="animal.goDashboard()">
			<span class="glyphicon glyphicon-menu-left"></span>
		</button>
        {{ animal.animalID}} - {{animal.params.name | capitalize:true}}
		<button class="btn btn-danger pull-right" ng-show="!animal.observing"  ng-click-confirm="animal.removeFromUser()" ng-confirm="Are you sure you want to remove {{animal.animalID}}?">Remove Animal</button>
    </h3>
	<div class="form-group">
		<button ng-hide="animal.observing" style="display: block"  type="button" class="btn btn-primary" ng-click="addUserCollapsed = !addUserCollapsed">
			<span ng-class="{'glyphicon glyphicon-plus' : !addUserCollapsed, 'glyphicon glyphicon-minus' : addUserCollapsed}"></span>	
			Add new weight
		</button>
		<div uib-collapse="!addUserCollapsed">
			<form class="form-inline"  role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="animal.weight" placeholder="Weight (lbs)">
						</div>
						<div class="form-group">
							<input type="date" class="form-control" ng-model="animal.date" placeholder="Date">
						</div>
						<button class="btn btn-default" type="button" ng-click="animal.addWeight()">
							<span class="glyphicon glyphicon-plus-sign"></span>
							Add
						</button>
						<div class="alert alert-info form-group fadein fadeout"  ng-show="animal.showWeightMessage">
							{{animal.addWeightMessage}}
					
						</div>
					</div>
				</div>
			</form>
		</div>
		<button ng-hide="animal.observing" style="display: block"  type="button" class="btn btn-default" ng-click="editAnimalCollapsed = !editAnimalCollapsed">
			<span ng-class="{'glyphicon glyphicon-plus' : !editAnimalCollapsed, 'glyphicon glyphicon-minus' : editAnimalCollapsed}"></span>	
			Edit Animal
		</button>
		<div uib-collapse="!editAnimalCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="animal.newName" placeholder="Name: {{animal.params.name}}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="animal.newType" placeholder="Type: {{animal.params.type}}">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model="animal.newBreed" placeholder="Breed: {{animal.params.breed}}">
						</div>
						<button class="btn btn-default" type="button" ng-click="animal.editAnimal()">
							<span class="glyphicon glyphicon-edit"></span>
							Edit
						</button>
						<div class="alert alert-info form-group fadein fadeout"  ng-show="animal.showEditMessage">
							{{animal.editMessage}}
					
						</div>
					</div>
				</div>
			</form>
		</div>

		<button type="button" style="display: block"  class="btn btn-default" ng-click="targetDateCollapsed = !targetDateCollapsed">
			<span ng-class="{'glyphicon glyphicon-plus' : !targetDateCollapsed, 'glyphicon glyphicon-minus' : targetDateCollapsed}"></span>
			Target Date Estimation
		</button>
		<div uib-collapse="!targetDateCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<input type="date" class="form-control" ng-model="animal.targetDate" placeholder="Target Date">
						</div>
						<button type="button" class="btn btn-default" ng-click="animal.targetDateCalculator()">
							<span class="glyphicon glyphicon-screenshot"></span>
							Calculate
						</button>
						<div class="alert alert-info form-group fadein fadeout"  style="display: inline-block" ng-show="animal.showTargetMessage">
							{{animal.targetMessage}}
					
						</div>
					</div>
				</div>
			</form>
		</div>
		<button type="button" style="display: block"  class="btn btn-default" ng-click="animal.calculateADG()">
			<span class="glyphicon glyphicon-stats"></span>
			Calculate Average Daily Gains
		</button>
		<form class="form-inline">
			<div class="form-group panel panel-default fadein fadeout" ng-show="animal.showDataMessage">
				<div class="panel-body">
					<div class="alert alert-info" style="padding: 8px" >
						{{ animal.dataMessage }} 
								
					</div>
				</div>
			</div>
		</form>
<!-- 		<div uib-collapse="!rangeDateCollapsed">
			<form class="form-inline" role="form">
				<div class="form-group panel panel-default">
					<div class="panel-body">
						<div class="form-group">
							<input type="date" class="form-control" ng-model="animal.start_date" placeholder="Start Date">
						</div>
						<div class="form-group">
							<input type="date" class="form-control" ng-model="animal.end_date" placeholder="End Date">
						</div>
						<button class="btn btn-default" type="button" ng-click="animal.averageGainInRange()">
							Calculate
						</button>
					</div>
				</div>
			</form>
		</div> -->


	</div>
    
	




	
</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="user.processing"><span class="glyphicon glyphicon-repeat spinner"></span>

    <p>Loading Weights...</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="text" class="form-control" ng-model="animal.searchAnimals" placeholder="Search Weights">
        </div>
    </div>
</form>
<table class="table table-hover table-bordered table-striped"  style="cursor: pointer" ng-show="animal.animals">
    <thead>
    <tr>
        <th>
			<a href="#">
                ID
            </a>
        </th>
        <th>
            <a href="#" ng-click="animal.sortType = 'date'; animal.sortReverse = !animal.sortReverse">
                Date
                <span ng-show="animal.sortType == 'date' && !animal.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="animal.sortType == 'date' && animal.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="animal.sortType = 'weight'; animal.sortReverse = !animal.sortReverse">
                Weight
                <span ng-show="animal.sortType == 'weight' && !animal.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="animal.sortType == 'weight' && animal.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- LOOP OVER THE WEIGHTS -->
    <tr ng-repeat="a in animal.animals | orderBy:animal.sortType:!animal.sortReverse | filter:animal.searchAnimals" ng-class="animal.highlight(a.date, animal)" ng-click="animal.selectDates(a.date)">
        <td>{{ a.id | capitalize}}</td>
        <td>{{ a.date | myDate }}</td>
        <td>{{ a.weight}}</td>
        <td class="col-sm-2" ng-show="!animal.observing">
            <button ng-click-confirm="animal.removeWeight(a._id)"  class="btn btn-danger" ng-confirm="Are you sure you want to remove this weight?">Delete</button>
        </td>

    </tr>
    </tbody>
</table>